
@{
    ViewData["Title"] = "Map";
}


<style>
    #map {
        height: 100%;
        position: static !important;
        overflow: hidden !important;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>







<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 46.483, lng: 49.43 },
            zoom: 10,
            styles: [
                { elementType: 'geometry', stylers: [{ color: '#242f3e' }] },
                { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
                { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },

                {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{ color: '#38414e' }]
                },
                {
                    featureType: 'road',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#212a37' }]
                },
                {
                    featureType: 'road',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#9ca5b3' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [{ color: '#746855' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'geometry.stroke',
                    stylers: [{ color: '#1f2835' }]
                },
                {
                    featureType: 'road.highway',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#f3d19c' }]
                },

                {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [{ color: '#17263c' }]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [{ color: '#515c6d' }]
                },
                {
                    featureType: 'water',
                    elementType: 'labels.text.stroke',
                    stylers: [{ color: '#17263c' }]
                }
            ]

        });
        var data = `[
    {
        "latitude": 46.485,
        "longitude": 49.417,
        "acq_date": 20181013,
        "acq_time": 2255,
        "brightness": 317.8,
        "daynight": "N",
        "bright_t31": 277.4,
        "version": "6.0NRT",
        "instrument": "MODIS",
        "frp": 19.8,
        "confidence": 76,
        "scan": 1,
        "track": 1,
        "satellite": "Hana"
    },
    {
        "latitude": 46.494,
        "longitude": 49.364,
        "acq_date": 20181013,
        "acq_time": 2255,
        "brightness": 324.3,
        "daynight": "N",
        "bright_t31": 277.4,
        "version": "6.0NRT",
        "instrument": "MODIS",
        "frp": 28,
        "confidence": 88,
        "scan": 1,
        "track": 1,
        "satellite": "Toka"
    }
    ]`;
        var infowindow = new google.maps.InfoWindow({
            content: ""
        });
        $.each(JSON.parse(data), function (index, value) {

            var myLatlng = new google.maps.LatLng(value.latitude, value.longitude);
            //alert(myLatlng/*);*/
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
            });

            var redCircle = new google.maps.Circle({
                strokeColor: '#FF0000',
                strokeOpacity: 1,
                strokeWeight: 1,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: map,
                center: { lat: value.latitude, lng: value.longitude },
                radius: value.confidence * 5.5
            });
            //alert(redCircle.radius);
            //var greenCircle = new google.maps.Circle({
            //    strokeColor: '#33cc33',
            //    strokeOpacity: 0.8,
            //    strokeWeight: 2,
            //    fillColor: '#FFFF00',
            //    fillOpacity: 0.35,
            //    map: map,
            //    center: { lat: value.latitude, lng: value.longitude },
            //    radius: value.confidence * 10 + 100
            //});
            var htmlDesc = `<div class="modals">
    <div class="modal-dialog" style="width 100%;">

      <!-- Modal content-->
      <div class="modal-content" style="-webkit-box-shadow: 0 3px 9px white !important;

box-shadow: 0 3px 9px white !important;border: none !important;">
        <div class="modal-header">
          <h4 class="modal-title">Fire Information</h4>
        </div>
        <div class="modal-body">
         
        </div>
        <div class="modal-footer" style="border-top: 1px solid white !important;">
        </div>
      </div>

    </div>
  </div>`
            bindInfoWindow(marker, map, infowindow, htmlDesc);
        });

    }
    function bindInfoWindow(marker, map, infowindow, description) {
        marker.addListener('click', function () {
            infowindow.setContent(description);
            infowindow.open(map, this);
        });
        marker.addListener('mouseover', function () {
            infowindow.setContent(description);
            infowindow.open(map, this);
        });

    }


    //window.onload = function () {

    //    var options = {
    //        animationEnabled: true,
    //        title: {
    //            text: "Monthly Sales - 2017"
    //        },
    //        axisX: {
    //            valueFormatString: "MMM"
    //        },
    //        axisY: {
    //            title: "Sales (in USD)",
    //            prefix: "$",
    //            includeZero: false
    //        },
    //        data: [{
    //            yValueFormatString: "$#,###",
    //            xValueFormatString: "MMMM",
    //            type: "spline",
    //            dataPoints: [
    //                { x: new Date(2017, 0), y: 25060 },
    //                { x: new Date(2017, 1), y: 27980 },
    //                { x: new Date(2017, 2), y: 33800 },
    //                { x: new Date(2017, 3), y: 49400 },
    //                { x: new Date(2017, 4), y: 40260 },
    //                { x: new Date(2017, 5), y: 33900 },
    //                { x: new Date(2017, 6), y: 48000 },
    //                { x: new Date(2017, 7), y: 31500 },
    //                { x: new Date(2017, 8), y: 32300 },
    //                { x: new Date(2017, 9), y: 42000 },
    //                { x: new Date(2017, 10), y: 52160 },
    //                { x: new Date(2017, 11), y: 49400 }
    //            ]
    //        }]
    //    };
    //    $("#chartContainer").CanvasJSChart(options);

    //}
</script>